body {
  color: white;
  background-color: #333;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.hero {
  padding-bottom: 37.5%; /* = ( 600 / 1600 ) x 100 */
  background-image: url( 'http://placehold.it/1600x600/A00' );
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}