{% extends 'base.html' %}
{% block title %}All Cafes{% endblock %}
{% include "header.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-light table-striped table-hover">
          <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Maps Link</th>
                <th scope="col">Location</th>
                <th scope="col">Sockets?</th>
                <th scope="col">Toilets?</th>
                <th scope="col">Wifi?</th>
                <th scope="col">Can you take calls?</th>
                <th scope="col">Coffee Price</th>
                <th scope="col">No. Seats</th>
            </tr>
          </thead>
          {% for row in cafes %}
            <tbody>
                <tr>
                    <th scope="row">{{ row['id'] }}</th>
                    <th scope="row">{{ row['name'] }}</th>
                    <td><a href="{{ row['map_url'] }}">Maps Link</a></td>
                    <td>{{ row['location'] }}</td>

                    {% if row['has_sockets'] == 1 %}
                    <td>✅</td>
                    {% else %}
                    <td>❌</td>
                    {% endif %}

                    {% if row['has_toilet'] == 1 %}
                    <td>✅</td>
                    {% else %}
                    <td>❌</td>
                    {% endif %}

                    {% if row['has_wifi'] == 1 %}
                    <td>✅</td>
                    {% else %}
                    <td>❌</td>
                    {% endif %}

                    {% if row['can_take_calls'] == 1 %}
                    <td>✅</td>
                    {% else %}
                    <td>❌</td>
                    {% endif %}

                    <td>{{ row['coffee_price'] }}</td>
                    <td>{{ row['seats'] }}</td>
                </tr>
            </tbody>
          {% endfor %}
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
