<div class="container header">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('home')}}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{url_for('get_all_cafes')}}" class="nav-link px-2 text-black">All Cafes</a></li>
          <li><a href="{{url_for('get_random_cafe')}}" class="nav-link px-2 text-black">Random Cafe</a></li>
        </ul>
      </div>
</div>